{% extends 'base.html.twig' %}
{% block body %}
        <input type="text" id="username">
        <button type="button" id="submit">Visit Google</button>
{% endblock %}

{% block javascripts %}
<script src="/app.js"></script>
{% endblock %}