{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <div class="inputs">
        <input placeholder="Enter your github username..." type="text" value="{{ cv.developer.githubUserName|default('')|escape }}" id="username">
        <button type="button" id="submit">Create Cv!</button>
    </div>
    {% if cv is not null %}
        {% include 'cv.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
<script src="/app.js"></script>
{% endblock %}